<%= form_with model: level, url: url, method: method do |f| %>
  <div class="fr-input-group">
    <%= f.label :name, "Nom du groupe", class: "fr-label" %>
    <%= f.text_field :name, class: "fr-input w-full" %>
  </div>

  <div class="fr-input-group">
    <%= f.label :gender, "Genre", class: "fr-label" %>
    <%= f.select :gender, options_for_select(Level.genders.keys.map { |g| [g.humanize, g] }, @level.gender),
          {}, class: "fr-select w-full" %>
  </div>

  <div class="fr-input-group" data-controller="color-preview">
    <%= f.label :color, "Couleur", class: "fr-label" %>
    <div class="flex items-center gap-3">
      <%= f.color_field :color, class: "h-10 w-20 p-0 border rounded" %>
    </div>
  </div>

  <%= f.submit class: "fr-btn bg-asmbv-red hover:bg-asmbv-red-dark text-white" do %>
    <%= lucide_icon("save", size: 16) %> Enregistrer
  <% end %>
<% end %>
