<div>
  <% if @show_label %>
    <%= @form.label @attribute, label_text, class: "block text-sm font-medium text-gray-900", for: field_id %>
  <% end %>

  <div class="mt-2">
    <% case @type.to_sym
       when :select %>
      <%= @form.select(
        @attribute,
        @options,
        select_options_hash,
        { id: field_id, class: field_classes, required: @required }.merge(@html_options)
      ) %>

    <% when :check_box, :radio_buttons %>
      <%# Non-uniform (checkbox/radio are kept as-is for now). %>
      <%= @form.public_send(@type, @attribute, { id: field_id, required: @required }.merge(@html_options)) %>

    <% else %>
      <%= @form.public_send(
        @type,
        @attribute,
        { id: field_id, class: field_classes, required: @required }.merge(@html_options)
      ) %>
    <% end %>
  </div>

  <% if has_error? %>
    <p class="mt-1 text-sm text-red-600"><%= error_message %></p>
  <% end %>
</div>
